---
layout: default
---
<div class="blog">
  <div class="header-image"></div>

  <div class="container">
    <section class="posts">
      {% for post in site.posts %}
        {% unless post.next %}
          <h2 class="blog-year" id="{{ post.date | date: '%Y' }}">{{ post.date | date: '%Y' }}</h2>
        {% else %}
          {% capture year %}{{ post.date | date: '%Y' }}{% endcapture %}
          {% capture nyear %}{{ post.next.date | date: '%Y' }}{% endcapture %}
          {% if year != nyear %}
            <h2 class="blog-year" id="{{ post.date | date: '%Y' }}">{{ post.date | date: '%Y' }}</h2>
          {% endif %}
        {% endunless %}

        <article class="post border-box">
          <h3><a href="{{ post.url }}">{{ post.title }}</a></h3>
          <div class="double-border"></div>
          <div class="content">
            {{ post.content }}
          </div>
          <p class="date">
            Publicerad den {{ post.date | date_to_string }}
          </p>
        </article>
      {% endfor %}
    </section>
  </div>
</div>